__pycahce__/
HospitalProject/Hospital/__pycache__/

# Default ignored files
/shelf/
/workspace.xml
# Editor-based HTTP Client requests
/httpRequests/
# Datasource local storage ignored files
/dataSources/
/dataSources.local.xml
HospitalProject/HospitalProject/__pycache__/__init__.cpython-310.pyc
HospitalProject/HospitalProject/__pycache__/urls.cpython-310.pyc
HospitalProject/HospitalProject/__pycache__/wsgi.cpython-310.pyc
